<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>D:/maven/repository</localRepository>

    <servers>
        <server>
            <id>release</id>
            <username>admin</username>
            <password>lisongyan1996</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>admin</username>
            <password>lisongyan1996</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>snapshots</id>
            <repositories>
                <repository>
                    <id>snapshots</id>
                    <name>lzsteam</name>
                    <url>http://localhost:8081/repository/maven-snapshots/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>snapshots</activeProfile>
    </activeProfiles>
    <mirrors>
<!--        &lt;!&ndash; 阿里云仓库 &ndash;&gt;-->
<!--        <mirror>-->
<!--            <id>alimaven</id>-->
<!--            <mirrorOf>central</mirrorOf>-->
<!--            <name>aliyun maven</name>-->
<!--            <url>http://maven.aliyun.com/nexus/content/repositories/central/</url>-->
<!--        </mirror>-->

<!--        &lt;!&ndash; 中央仓库1 &ndash;&gt;-->
<!--        <mirror>-->
<!--            <id>repo1</id>-->
<!--            <mirrorOf>central</mirrorOf>-->
<!--            <name>Human Readable Name for this Mirror.</name>-->
<!--            <url>http://repo1.maven.org/maven2/</url>-->
<!--        </mirror>-->

        <!-- 中央仓库2 -->
<!--        <mirror>-->
<!--            <id>maven-snapshots</id>-->
<!--            <mirrorOf>*</mirrorOf>-->
<!--            <name>Human Readable Name for this Mirror.</name>-->
<!--            <url>http://localhost:8081/repository/maven-snapshots/</url>-->
<!--        </mirror>-->
    </mirrors>


</settings>
